<polymer-element name="plant-table">
  <link rel="import" href="plant_add.html"/>
  <link rel="import" href="plant_edit.html"/>
  <template>
    <style>
      table {
        border-top: 1px solid #999;
        border-left: 1px solid #999;
        border-collapse: collapse;
      }  
      caption {
        font-family: arial, sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #003366;
        padding: 1px;
      }    
      th, td {
        padding: 1px;
        border-right: 1px solid #999999;
        border-bottom: 1px solid #999999;
      }
      th {
        font-family: verdana, sans-serif;
        font-weight: bold;
        color: #ffffff;
        background: #336799;
      }
      td {
        background: #ffe4b5;
      }  
      button {
        padding: 1px;
        background: #ffcc99;
        border-right: 1px solid #999;
        border-bottom: 1px solid #999;
        border-style: outset;
        border-color: #d7b9c9;
        font-weight: bold;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      button:active {
        background: orangered;
        border-color: blue;
      } 
      a:link {
        text-decoration: none;
        font-weight: bold;
        color: #003366;
      }   
      a:visited {
        text-decoration: none;
        font-weight: bold;
        color: #c50000;
      }   
      a:hover {
        text-decoration: none;
        color: #d9ece2;
        background: #663117;
      }
      .marker {
        font-family: arial, sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #003366;
        background: #ffe4b5;
        padding: 1px;
      } 
    </style>
    <template if="{{showAdd}}">
      <plant-add garden="{{garden}}"></plant-add>
    </template>
    <template if="{{showEdit}}">
      <plant-edit 
        garden="{{garden}}"
        plant="{{plant}}"
      >
      </plant-edit>
    </template>
    <table>
      <caption class="marker">
        Plants of {{garden.name}} 
        <button id="show-add" on-click="{{show}}">Show Add</button>
      </caption>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
      <tbody template repeat="{{plant in plants.internalList}}">
        <tr>
          <td>{{plant.name}}</td>
          <td>{{plant.description}}</td>
          <td><button on-click="{{edit}}" plant-name="{{plant.name}}">Edit</button></td>
          <td><button on-click="{{delete}}" plant-name="{{plant.name}}">Remove</button></td>
        </tr>
      </tbody>
    </table>
  </template>
  <script type="application/dart" src="plant_table.dart"></script>
</polymer-element>
